body {
  background: linear-gradient(135deg, #fceabb 0%, #f8b500 100%);
  background-image: url('https://www.transparenttextures.com/patterns/diamond-upholstery.png');
  background-repeat: repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-header {
  background: linear-gradient(90deg, #8E44AD, #C0392B);
}

.custom-footer {
  background: linear-gradient(90deg, #8E44AD, #C0392B);
  color: white;
  padding: 15px 0;
  text-align: center;
  font-size: 14px;
}

.navbar-brand, .nav-link {
  color: white !important;
  font-weight: 500;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 20px rgba(0,0,0,0.2);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container {
  padding-top: 30px;
  padding-bottom: 80px;
}
.card-title{
  color: red;
  font-weight: bold;
}
.card-eye {
  background: rgba(0,0,0,0.1);
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.card-eye:hover {
  background: linear-gradient(90deg, #8E44AD, #C0392B);
  color: white;
}
